<header class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{site.baseurl}}/" class="navbar-brand">Garth's Stuff</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{site.baseurl}}/3d-Printing">3D Printing</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/about">About</a>
        </li>
        <li>
          <a href="{{ site.github_repo_url }}issues/new">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <br/>
          <a class="twitter-follow-button" href="https://twitter.com/garthvh" data-show-count="true" data-lang="en">
              Follow @garthvh
          </a>
        </li>
      	<li>
      		<br/>
      		<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=garthvh&amp;repo=garthvh.github.io&amp;type=fork&amp;count=false" width="102" height="20" title="Fork on GitHub"></iframe>
      	</li>
      </ul>
    </nav>
  </div>
</header>
