 <!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
{% for entry in site.data.nav %}
    <li class="header">{{entry.title}}</li>
    {% for item in entry.items %}
    {% if item.external_url %}
    <li>
        <a href="{{item.external_url}}" target="_blank" rel="noopener">
            <i class="fa {{ item.icon }}"></i> <span>{{ item.title }}</span>
            <span class="pull-right-container"></span>
        </a>
    <li>
    {% elsif page.url contains item.url %}
    <li class="active">
        <a href="{{ site.url }}/{{ item.url }}">
            <i class="fa {{ item.icon }}"></i> <span>{{ item.title }}</span>
            <span class="pull-right-container"></span>
        </a>
    <li>
    {% else %}
    <li>
        <a href="{{ site.url }}/{{ item.url }}">
            <i class="fa {{ item.icon }}"></i> <span>{{ item.title }}</span>
            <span class="pull-right-container"></span>
        </a>
    <li>
    {% endif %}
    {% endfor %}
{% endfor %}
</ul>