.content-main { margin-top:75px; }

.tag-cloud { margin: 0; padding: 0;}
  .tag-cloud li { display: inline; }

/* Style the GitHub buttons via CSS instead of inline attributes */
.github-btn { overflow: hidden;border: 0; }

/* Override the gist border*/
.gist .gist-file {
  border: none;
}
