/* Margin at the top */
.content-main { margin-top:70px; }
footer { padding-top:40px; margin-top: 100px; bottom: 0; width: 100%; height: 120px; background-color: #95a5a6; }
body { font-size: 1.8em; }

/* Tag Cloud */
.tag-cloud { margin: 0; padding: 0;}
  .tag-cloud li { display: inline; }

/* Style the GitHub buttons via CSS instead of inline attributes */
.github-btn { overflow: hidden;border: 0; }

/* Override the gist border*/
.gist .gist-file { border: none !important; }

/* Post Metadata styles date, tags, comments and edit links and icons */
.meta { margin-left: 4px;color: #999;}
.meta a { color: #999;transition: 0.3s;-webkit-transition: 0.3s;-moz-transition: 0.3s; -o-transition: 0.3s; }
.meta a:hover { color: #666 }
.meta .date,
.meta .tags,
.meta .comments,
.meta .edit { padding-right: 10px }
.meta .date:before,
.meta .tags:before,
.meta .comments:before,
.meta .edit:before { color: #ccc; font: 1.3em FontAwesome; left: 0; margin-right: 5px; }
.meta .date:before { content: "\f073"; }
.meta .tags:before { content: "\f02c" }
.meta .comments:before { content: "\f075" }
.meta .edit:before { content: "\f044" }
article .meta { color: #999;font-weight:100;font-size:1.2em }
article .meta .date { display: inline }
article h1 { font-weight:800;font-size:5em;padding-bottom:15px; }
article h1 a { color: #333;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;-o-transition:color 0.3s;transition:color 0.3s }
article h2 { font-weight:800;font-size:3em;padding-bottom:9px; }
article h3 { font-weight:800;font-size:2em;padding-bottom:6px; }
article .meta { line-height: 1.5em;margin-top:0 }
article .meta span::before { padding-right: 0 }

/* Colors for Font Awesome social circles in the footer. */
.rss-circle{ color:#ef7522; }
.github-circle{ color:#afb6ca; }
.twitter-circle{ color:#55CFF8; }
.youtube-circle{ color:#e52d27; }
