{% include head.html %}

<body>
  <!-- main nav -->
  {% include nav/main.html %}
  <main class="content-main">
    <div class="container">
      <div class="row">
        <div class="col-md-{% if page.fullwidth == true %}12{% else %}9{% endif %}" role="main">
          {{ content }}
        </div>
          {% unless page.fullwidth == true %}
          <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
              <ul class="nav bs-docs-sidenav">
                {% if page.title == "Home" %}
                  {% include tags.html %}
                {% endif %}
              </ul>
            </nav>
          </div>
          {% endunless %}
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
