<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>

    <!-- Docs master nav -->
    {% include nav/main.html %}

	 <main class="content-main">
    <!-- Page content of course! -->
    {{ content }}
	 </main>
    {% include footer.html %}
  </body>
</html>