---
layout: default
single: true
---

{% assign post = page %}
{% if post.categories.size > 0 %}
    {% capture categories_content %} {% endcapture %}
    {% for post_category in post.categories %}
        {% for data_category in site.data.categories %}
            {% if data_category.slug == post_category %}
                {% assign category = data_category %}
            {% endif %}
        {% endfor %}
        {% if category %}
            {% capture categories_content_temp %}{{ categories_content }}<a class="label label-default" href="/category/{{ category.slug }}/">{{ category.name }}</a>{% if forloop.last == false %}&nbsp;&nbsp;{% endif %}{% endcapture %}
            {% assign categories_content = categories_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign categories_content = '' %}
{% endif %}

<article itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>
