---
layout: default-3
single: true
---

{% for category in site.data.categories %}
{% assign categorymatch = false %}
{% if page.category == category.name %}
    {% assign categorymatch = true %}
    {% assign currentcategory = category %}
{% endif %}
{% if page.category == category.slug %}
    {% assign categorymatch = true %}
    {% assign currentcategory = category %}
{% endif %}


{% if categorymatch %}
	<!-- Content Header (Page header) -->
  <div class="content-header">
		<div class="container-fluid">
		  <div class="row mb-2">
			<div class="col-sm-12">
			  <h1 class="m-0 text-dark">Category: {{ currentcategory.name }}</h1>
			</div><!-- /.col -->
		  </div><!-- /.row -->
		</div><!-- /.container-fluid -->
  </div>
  <section class="content">
    <div class="container-fluid">
      <!-- Timelime -->
      <div class="row">
        <div class="col-lg-12">
          {{ content }}
        </div>
        <div class="col-lg-8">
          <div class="timeline" itemscope itemtype="http://schema.org/Blog">
          {% for post in site.categories[category.slug] %}
            {% if post.layout == 'post' %}
              {% include post/archive_post.html %}
            {% endif %}
          {% endfor %}
          </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><i class="fas fa-link"></i> Links for {{ currentcategory.name }}</h3>
          </div>
          <div class="card-body p-0">
            {% for category in site.data.links %}
            {% if category.category == currentcategory.slug  %}
              <div class="list-group">
              {% for link in category.links %}
                <a href="{{ link.url }}" class="list-group-item">
                  {{ link.text }}
                </a>
              {% endfor %}
              </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </section>
{% endif %}{% endfor %}