<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <!-- main nav -->
    {% include nav/main.html %}
    <main class="content-main">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.summary }}</p>
        <span><i class="icon-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
        <span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span><br/>
        <span class="author"><i class="icon-user"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>
        <div class="row">
          <div class="col-lg-9 col-sm-12">
            <article>
              {{ content }}
            </article>
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
