---
layout: default
single: true
---
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{{ site.baseurl }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ site.baseurl }}/project">Projects</a></li>
          <li class="breadcrumb-item active">{{ page.title }}</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-12">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h3 class="d-inline-block d-sm-none">{{ page.title }}</h3>
              <div class="col-12">
                {% include page/photocarousel.html %}
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <h3 class="my-3">{{ page.title }}</h3>
              <p class="lead">{{ page.summary }}</p>
              <hr>
              <h5 class="mt-5 text-muted">Project links</h5>
              <ul class="list-unstyled">
                {% assign page_tag = site.data.links | where_exp:"tag", "tag.tag contains page.tag" %}
                {% for tag in page_tag %}
                {% for link in tag.links %}
                <li>
                  <a href="{{ link.url }}" target="_blank" class="btn-link text-secondary"><i class="fas fa-fw fa-link"></i>&nbsp;{{ link.text }}</a>
                </li>
                {% endfor %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              {% if site.tags[page.tag].size > 0 %}
              <div class="timeline" itemscope itemtype="http://schema.org/Blog">
                {% for post in site.tags[page.tag] reversed %}
                {% if post.layout == 'post' %}
                    {% include post/archive_post.html %}
                {% endif %}
                {% endfor %}
                <div>
                    <i class="fas fa-clock bg-gray"></i>
                </div>
              </div>
              {% endif %}
              {{ content }}
            </div>
          </div>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h3 class="card-title">Project Gallery</h3>
        </div>
        <div class="card-body">
            <div class="row">
            {% assign project_images = site.static_files | where_exp:"image", "image.path contains page.photos_path" %}
            {% for image in project_images %}
            {% if image.extname == '.jpg' or image.extname == '.png' or image.extname == '.jpeg' %}
              <div class="col-sm-2">
                <a href="../..{{ site.baseurl }}{{ image.path }}">
                  <img src="../..{{ site.baseurl }}{{ image.path }}" class="img-fluid mb-2" />
                </a>
              </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.content -->