---
layout: default
single: true
---
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark"><i class="fas fa-tag"></i> Tag: {{ page.tag }}</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                {% assign projects = site.pages | where: "layout" , "project" %}
                {% for page in projects %}
                {% if page.tag == 'Blast Box' %}
                <h2>Project: <a href="{{ page.url }}">{{ page.title }}</a></h2>
                <div class="card">
                    {% include page/photocarousel.html %}
                    <div class="card-body">
                        <p>{{ page.summary }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <h2>Posts</h2>
                <div class="timeline" itemscope itemtype="http://schema.org/Blog">
                    {% for post in site.tags[page.tag] %}
                    {% if post.layout == 'post' %}
                        {% include post/archive_post.html %}
                    {% endif %}
                    {% endfor %}
                    <div>
                        <i class="fas fa-clock bg-gray"></i>
                    </div>
                </div>
            </div><!-- /.col-8 -->
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-link"></i> Links for {{ page.tag }}</h3>
                    </div>
                    <div class="card-body p-0">
                      {% for linklist in site.data.links %}
                      {% if linklist.tag == page.tag  %}
                        <div class="list-group">
                        {% for link in linklist.links %}
                          <a href="{{ link.url }}" class="list-group-item">
                            {{ link.text }}
                          </a>
                        {% endfor %}
                        </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
            </div><!-- /.col-4 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div><!-- /.content -->